.app {
	padding: 25px;
	max-width: 1100px;
	margin: 0 auto 46px;

    @media (min-width: 768px) {
        padding: 100px 25px;
    }

	@media (min-width: 1200px) {
		
	}
}

.header {
    padding-bottom: 0;
    &__title {
        font-size: 60px;
        font-weight: 500;
    }

    @media (min-width: 1020px) {
        padding-bottom: 20px;
    }
}

.custom-panel {
    display: grid;
    grid-template-columns: 100fr;

    @media (min-width: 1020px) {
        grid-template-columns: 40fr 60fr;
    }

}

.image {
    &__wrapper{
        position: relative;
        height: 320px;     

        @media (min-width: 1020px) {
            height: 430px;
        } 
    }
}

img {
    position: absolute;
    width: auto;
    max-height: 300px;

    @media (min-width: 1020px) {
        max-height: 400px;
    }
}

.styling-panel {
    font-weight: 500;
    padding: 0;

    @media (min-width: 1020px) {
        padding: 0 50px;
    }
}

button {
    cursor: pointer;
}

.regButton {
    padding: 10px 20px;
    border: 1px solid cornflowerblue;
    border-radius: 35px;
    background: none;
    margin: 0px 8px 8px 0;
    color: cornflowerblue;

    &:hover {
        border: 1px solid darkblue;
        color: darkblue;
    }

    &.active {
        border: 1px solid darkblue;
        background-color: darkblue;
        color: white;
    }

    @media (min-width: 1020px) {
        padding: 15px 25px;
    }

}


.bgButton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 14px 14px 0;
    border: none;

    &.active {
        box-shadow: 0 0 3pt 2pt cornflowerblue;
    }

    @media (min-width: 1020px) {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0 18px 18px 0;
    }
}